body{
  background-color: #221d1d;
  color: white;
}
button{
  background-color: rgb(37, 38, 39);
  color:white;
  border: 1px solid white;
  width: 80px;
  height: 50px;
  border-radius: 20px;
}

p{
  animation: fade-in 2s
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
